@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root {
    --no-anim-state: 0s initial;
    --hovering-image-anim-var: image-box-hover 1s alternate-reverse infinite ease;

    --cherry-pie-anim-var: var(--no-anim-state);
    --apple-pie-anim-var: var(--no-anim-state);
    --banana-pie-anim-var: var(--no-anim-state);
    --cookies-n-cream-pie-anim-var: var(--no-anim-state);
    --cranberry-pie-anim-var: var(--no-anim-state);
    --blueberry-pie-anim-var: var(--no-anim-state);
    --pecan-pie-anim-var: var(--no-anim-state);
    --pumpkin-pie-anim-var: var(--no-anim-state);
}

/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    /* Standard text-settings below */
    font-size: 1em;
    line-height: 1.4em;
}





/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */
body {}

footer{
    background-color: whitesmoke;
    border-top: 2rem solid gainsboro;
    margin-top: 1rem;
}
#footer-info{
    margin: 1rem auto 2rem 5rem;
    padding: 1rem;
}
footer h4{
    margin: 0;
}
footer p{
    margin: 0;
}

#container {}

/* CSS for header */
header {
    background-color: whitesmoke;
    padding: 4rem 4rem 4rem 2rem;
    display: flex;
    gap: 5rem;

    align-items: center;
}

#header-title {
    font-family:'Courier New', Courier, monospace;
}
header:hover{
    background-image: url("../img/cherry-pie.png");
    background-repeat: no-repeat;
    background-position: center;
}



/* CSS for nav */
#nav-container {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#nav-drop-button {
    background-image: url(../img/nav-icon.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 5rem;
    height: 5rem;
}

#nav-drop-button:hover {
    transform: rotate(90deg);
}

#nav-drop-button:hover+nav {
    animation: nav-fall 1s forwards;
}



nav {
    border: 0.5rem solid gray;
    background-color: darkgray;
    max-width: 10rem;
    /* When nav is closed */
    transform: scaleY(0%);
}

nav h3 {
    text-align: center;
    background-color: whitesmoke;

    margin-top: 0;
    padding: 0 1rem;

    max-width: 100%;
}

nav ul {
    width: 100%;

    padding-left: 0;
    margin-left: 0;
    list-style: none;
    text-align: center;

}

nav ul li {
    margin: 2rem 0;
}

nav a {
    background-color: gainsboro;
    padding: 0.5rem 1.6rem;
    border: 0.5rem solid black;
    max-width: 100%;

    text-decoration: none;
    color: black
}

nav a:hover {
    background-color: black;
    border-color: gainsboro;
    color: gainsboro;
}
/* CSS with about section */
#about-pies{
    margin: 5rem auto;
    padding: 1rem;
    max-width: 30rem;
    background-color: whitesmoke;
}
#about-pies h2{
    text-align: center;
}
#about-pies p{
    padding: 1rem;
}

#about-pies:hover{
    color: yellow;
}

/* CSS animations for about-pies */
#about-pies:hover > :nth-child(1){
    animation: about-pies-anim-images 1s infinite alternate;
    background-color: orange;
}
#about-pies:hover > :nth-child(2){
    animation: about-pies-anim-right 1s infinite;
    background-color: red;
}
#about-pies:hover > :nth-child(3){
    animation: about-pies-anim-left 1s infinite;
    background-color: blue;
}
#about-pies:hover > :nth-child(4){
    animation: about-pies-anim-right 1s infinite;
    background-color: purple;
}
#about-pies:hover > :nth-child(5){
    background-color: green;    
    animation: about-pies-anim-left 1s infinite;
}
/* CSS of about section effecting pictures. */
#about-pies:hover ~ *{
    --cherry-pie-anim-var: about-pies-anim-images-1 1s infinite linear;
    --apple-pie-anim-var: about-pies-anim-images-2 3s infinite linear;
    --banana-pie-anim-var:  about-pies-anim-images-1 3s infinite linear;
    --cookies-n-cream-pie-anim-var:  about-pies-anim-images-2 1s infinite linear;
    --cranberry-pie-anim-var:  about-pies-anim-images-1 1s infinite linear;
    --blueberry-pie-anim-var:  about-pies-anim-images-2 3s infinite linear;
    --pecan-pie-anim-var:  about-pies-anim-images-1 3s infinite linear;
    --pumpkin-pie-anim-var: about-pies-anim-images-2 1s infinite linear;
}
#credits{
    font-size: 0.7rem;
}


/* CSS for image-boxes */
#image-boxes-container {
    margin: 6rem auto 3rem auto;

    
    
    max-width:75%;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    gap: 0.5rem;
}

.image-box {
    text-decoration: none;
    background-color: black;
    color: blue;
    border: 1rem solid gainsboro;
    margin: 1rem auto;
}

.image-box figure {
    margin: 0;
}

.image-box figcaption {
    background-color: whitesmoke;
    text-align: center;
    padding: 0.5rem;

    font-size: 1.5rem;
}

#cookies-n-cream-box figcaption {
    font-size: 1rem;
}


/* CSS for Image box animations */


/* CSS for image boxes when hovering */
#cherry-pie-box:hover {
    --cherry-pie-anim-var: var(--hovering-image-anim-var);
}

#cherry-pie-box:hover+#apple-pie-box {
    --apple-pie-anim-var: cherry-box-hovering 1s alternate infinite;
    transition-duration: 3s;
    border-color: red;
    background-color: blue;
    color:gray;
}
#cherry-pie-box:hover~#banana-pie-box {
    --banana-pie-anim-var: cherry-box-hovering 3s alternate infinite;
    transition-duration: 1s;
    border-color: cyan;
    background-color: yellow;
    color:green;
}

/* Apple Box Hovering */
#apple-pie-box:hover {
    --apple-pie-anim-var: var(--hovering-image-anim-var);
}

#apple-pie-box:hover+#banana-pie-box {
    --banana-pie-anim-var: apple-box-hovering 3s alternate infinite;
    transition-duration: 1s;
    border-color: darkgray;
    background-color: gray;
    color:gainsboro;
}

#apple-pie-box:hover~#cookies-n-cream-box {
    --cookies-n-cream-pie-anim-var: cherry-box-hovering 2s alternate infinite;
    transition-duration: 5s;
    border-color: red;
    background-color: darkred;
    color:rebeccapurple;
}

/* Banana Box Hovering */
#banana-pie-box:hover {
    --banana-pie-anim-var: var(--hovering-image-anim-var);
}

#banana-pie-box:hover+* {
    --cookies-n-cream-pie-anim-var: banana-box-hovering 2s alternate infinite;
    transition-duration: 1s;
    border-color: purple;
    background-color: palevioletred;
    color:plum;
}

#banana-pie-box:hover~#cranberry-pie-box {
    --cranberry-pie-anim-var: banana-box-hovering 2s alternate infinite;
    transition-duration: 1s;
    border-color: palevioletred;
    background-color: plum;
    color:purple;
}

#banana-pie-box:hover+* figure {
    animation: banana-box-hovering-img 2s alternate infinite;
    transition-duration: 1s;
    border-color: black;
    background-color: blanchedalmond;
    color: whitesmoke;
}

#banana-pie-box:hover~#cranberry-pie-box figure {
    animation: banana-box-hovering-img 2s alternate infinite;
    transition-duration: 4s;
    border-color: whitesmoke;
    background-color: white;
    color:wheat;
}

/* Cookies n Cream Box Hovering */
#cookies-n-cream-box:hover {
    --cookies-n-cream-pie-anim-var: var(--hovering-image-anim-var);
}

#cookies-n-cream-box:hover+#cranberry-pie-box {
    --cranberry-pie-anim-var: cookies-n-cream-box-hovering 2s alternate infinite;
    transition-duration: 1s;
    border-color: yellow;
    background-color: yellowgreen;
    color:gold;
}

#cookies-n-cream-box:hover~#blueberry-pie-box {
    --blueberry-pie-anim-var: cookies-n-cream-box-hovering 2s alternate infinite;
    transition-duration: 1s;
    border-color: yellowgreen;
    background-color: gold;
    color:yellowgreen;
}



/* Cranberry Pie Box */
#cranberry-pie-box:hover {
    --cranberry-pie-anim-var: var(--hovering-image-anim-var);
}

#cranberry-pie-box:hover+#blueberry-pie-box {
    --blueberry-pie-anim-var: cranberry-box-hovering 2s alternate infinite;
    transition-duration: 1s;
    border-color: red;
    background-color: pink;
    color: orangered;   
}

#cranberry-pie-box:hover~#pecan-pie-box {
    --pecan-pie-anim-var: cranberry-box-hovering 3s alternate infinite;
    transition-duration: 1s;
    border-color: pink;
    background-color: orangered;
    color:red;
}


/* Blueberry Pie Box */
#blueberry-pie-box:hover {
    --blueberry-pie-anim-var: var(--hovering-image-anim-var);
}

#blueberry-pie-box:hover+#pecan-pie-box {
    --pecan-pie-anim-var: blueberry-box-hovering 5s alternate infinite;
    transition-duration: 1s;
    border-color: orange;
    background-color: orangered;
    color:olive;
}

#blueberry-pie-box:hover~#pumpkin-pie-box {
    --pumpkin-pie-anim-var: blueberry-box-hovering 5s alternate infinite;
    transition-duration: 1s;
    border-color: olive;
    background-color: green;
    color:goldenrod;
}

#blueberry-pie-box:hover+#pecan-pie-box img{
    animation: blueberry-box-hovering-img 5s alternate infinite;
}

#blueberry-pie-box:hover~#pumpkin-pie-box img{
    animation: blueberry-box-hovering-img 5s alternate infinite;
}


/* Pecan Pie Box */
#pecan-pie-box:hover {
    --pecan-pie-anim-var: var(--hovering-image-anim-var);
}

#pecan-pie-box:hover+#pumpkin-pie-box {
    --pumpkin-pie-anim-var: pecan-box-hovering 5s infinite alternate;
    transition-duration: 1s;
    border-color: gold;
    background-color: gold;
    color:gold;
}



/* Pumpkin Pie Box */
#pumpkin-pie-box:hover{
    --pumpkin-pie-anim-var: var(--hovering-image-anim-var);
}


/* Each box will have an error or animation specifically dedicated to them */
#cherry-pie-box {
    animation: var(--cherry-pie-anim-var);
}

#apple-pie-box {
    animation: var(--apple-pie-anim-var);
}

#banana-pie-box {
    animation: var(--banana-pie-anim-var);
}

#cookies-n-cream-box {
    animation: var(--cookies-n-cream-pie-anim-var);
}

#cranberry-pie-box {
    animation: var(--cranberry-pie-anim-var);
}

#blueberry-pie-box {
    animation: var(--blueberry-pie-anim-var);
}

#pecan-pie-box {
    animation: var(--pecan-pie-anim-var);
}

#pumpkin-pie-box {
    animation: var(--pumpkin-pie-anim-var);
}


/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {}

/* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {}

/* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {}

/* closes 1024px+ */



/* Generalized Key Frames */
@keyframes image-box-hover {
    from {
        transform: rotate(15deg);
    }

    to {
        transform: rotate(-15deg);
    }
}

@keyframes nav-fall {
    0% {
        transform: translate(0) scale(100%) rotate(0deg);
    }

    100% {
        transform: translate(500rem) scale(100%) rotate(3600deg);
    }
}

@keyframes cherry-box-hovering {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg) translate(30rem);
    }

    100% {
        transform: rotate(360deg) translate(50rem);
    }
}

@keyframes apple-box-hovering {
    0% {
        transform: rotate(0deg) scaleX(100%);
    }

    100% {
        transform: rotate(360deg) scaleX(10%);
    }
}

@keyframes banana-box-hovering {
    0% {
        transform: rotate(0deg) scaleY(100%);
    }

    30% {
        transform: rotate(0deg) scaleY(170%);
    }

    60% {
        transform: rotate(0deg) scale(170%);
    }

    100% {
        transform: rotate(360deg) scaleX(100%);
    }
}

@keyframes banana-box-hovering-img {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cookies-n-cream-box-hovering {
    0% {
        transform: translate(4rem)rotate(0deg);
    }

    50% {
        transform: translate(8rem) rotate(0deg);
    }

    80% {
        transform: translate(20rem) rotate(50deg);
    }

    100% {
        transform: translate(-30rem) rotate(1280deg);
    }
}

@keyframes cranberry-box-hovering {
    0% {
        transform: scaleX(100%) scaleY(100%);
    }

    50% {
        transform: scaleX(100%) scaleY(150%);
    }

    75% {
        transform: scaleX(200%) scaleY(150%);
    }

    100% {
        transform: scaleX(250%) scaleY(250%);
    }
}

@keyframes blueberry-box-hovering {
    0%{transform: translate(0rem) rotate(0deg);}
    50%{transform: translate(20rem) rotate(-360deg);}
    100%{transform: translate(0rem) rotate(360deg);}
}
@keyframes blueberry-box-hovering-img{
    0%{transform: translate(0rem) rotate(0deg);}
    15%{transform: translate(0rem) rotate(0deg);}
    50%{transform: translate(-20rem) rotate(-1080deg);}
    60%{transform: translate(-20rem) rotate(-1080deg);}
    100%{transform: translate(0rem) rotate(3070492deg);}
}

@keyframes pecan-box-hovering {
    0%{transform: scale(100%) rotate(0deg);}
    5%{transform: scale(100%) rotate(0deg);}
    15%{transform: scale(125%) rotate(-10deg);}
    100%{transform: scale(0%) rotate(3600deg);}
}


@keyframes about-pies-anim-right{
    0%{transform:translate(0rem) rotate(0deg);}
    15%{transform:translate(15rem) rotate(50deg);}
    25%{transform:translate(25rem) rotate(75deg);}
    50%{transform:translate(50rem) rotate(150deg);}
    75%{transform:translate(25rem) rotate(75deg);}
    90%{transform:translate(15rem) rotate(50deg);}
    100%{transform:translate(0rem) rotate(0deg);}
}
@keyframes about-pies-anim-left{
    0%{transform:translate(0rem) rotate(0deg);}
    15%{transform:translate(-15rem) rotate(-50deg);}
    25%{transform:translate(-25rem) rotate(-75deg);}
    50%{transform:translate(-50rem) rotate(-150deg);}
    75%{transform:translate(-25rem) rotate(-75deg);}
    90%{transform:translate(-15rem) rotate(-50deg);}
    100%{transform:translate(0rem) rotate(0deg);}
}

@keyframes about-pies-anim-images-1{
    0%{transform:translateX(0rem) translateY(0rem) rotate(0deg);}
    50%{transform:translateX(-20rem) translateY(-60rem) rotate(3600deg);}
    100%{transform:translateX(0rem) translateY(0rem) rotate(7200deg);}
}
@keyframes about-pies-anim-images-2{
    0%{transform:translateX(0rem) translateY(0rem) rotate(0deg);}
    50%{transform:translateX(20rem) translateY(-60rem) rotate(3600deg);}
    100%{transform:translateX(0rem) translateY(0rem) rotate(7200deg);}
}