@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root{
    --cherry-pie-anim: 2s anim1 infinite;
    --no-anim-state: 0s initial;
}
/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}





/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */
body {
	
	
}


#container {
	
}
/* CSS for header */
header{
    background-color: green;
    padding: 4rem 4rem 4rem 2rem;
    display: flex;
    gap: 5rem;

    align-items: center;
}

#header-title{
    font-family: 'Roboto Mono'  ;
}



/* CSS for nav */
#nav-container{
    position: absolute;
    display: flex;
    flex-direction: column;
}
#nav-drop-button{
    background-image: url(../img/nav-icon.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 5rem;
    height: 5rem;
}
#nav-drop-button:hover{
    transform: rotate(90deg);
}
#nav-drop-button:hover + nav{
    animation: nav-fall 1s forwards;
}



nav{
    border: 0.5rem solid gray;
    background-color:darkgray;
    max-width: 10rem;
    /* When nav is closed */
    transform: scaleY(0%);
}
nav h3{
    text-align: center;
    background-color: whitesmoke;

    margin-top: 0;
    padding: 0 1rem;

    max-width: 100%;
}
nav ul{
    width: 100%;

    padding-left: 0;
    margin-left: 0;
    list-style: none;
    text-align:center;

}
nav ul li{
    margin: 2rem 0;
}
nav a{
    background-color: gainsboro;
    padding: 0.5rem 1.6rem;
    border: 0.5rem solid black;
    max-width: 100%;

    text-decoration: none;
    color: black
}
nav a:hover{
    background-color: black;
    border-color: gainsboro;
    color: gainsboro;
}



/* CSS for image-boxes */
#image-boxes-container{
    margin-top: 10rem;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    gap: 1vh;
}

.image-box{
    background-color: black;
    border: 1rem solid gainsboro;
}
.image-box figure{
    margin: 0;
}
.image-box:hover{
    animation: image-box-hover 1s alternate-reverse infinite ease;
}
.image-box figcaption{
    background-color: whitesmoke;
    text-align: center;
    padding: 0.5rem;

    font-size: 1.5rem;
}
#cookies-n-cream-box figcaption{
    font-size: 1rem;
}


/* CSS for Image box animations */
/* Each box will have an error or animation specifically dedicated to them */

#cherry-pie-box{
}
#apple-pie-box{
}
#banana-pie-box{
    
}
#cookies-and-cream-box{
    
}
#cranberry-pie-box{
    
}
#blueberry-pie-box{
    
}
#pecan-pie-box{
    
}
#pumpkin-pie-box{
    
}



/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */


@keyframes image-box-hover{
    from {transform: rotate(15deg);}
    to{transform: rotate(-15deg);}
}

/* Animations for each pie box */
@keyframes nav-fall{
    0% {transform: scaleY(100%);}
    50% {transform: rotate(45deg);}
}
@keyframes cherry-pie-anim{
   
}
@keyframes apple-pie-anim{
    
}
@keyframes banana-pie-anim{
    
}
@keyframes cookies-n-cream-pie-anim{
    
}
@keyframes cranberry-pie-anim{
    
}
@keyframes blueberry-pie-anim{
    
}
@keyframes pecan-pie-anim{
    
}
@keyframes pumpkin-pie-anim{
    
}




