@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root{
    --lobster-font: 'Roboto Mono', monospace;

    --img-corners: url(../img/menu-corners.png);

    --radio-change-state: url(../img/radio-on-hover.png);
}

/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
    background-color: black ;
	
}


#container {
	
}
/* CSS for header */
header{
    background-color: black;
}
header h1{
    font-family: var(--lobster-font);
    text-align: center;
    padding: 1.5rem;
    color: white;
    border: 0.5rem groove gold;
    margin: 0;

}
header h3{
    color:white;
    text-align: center;
    padding: 0.5rem;
}


/* CSS for Menu Section */
#menu-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    gap: 1rem; 
}
.menu{
    background-image: var(--img-corners);
    background-size: 100% 100%;
    text-decoration: none;
    border: 0.5rem solid gold;

    background-color: darkred;
    padding: 10rem 2rem;
    margin: 2rem;

    width: 100%;
    max-width: 20rem;   
}
.menu:hover{
    border: 0.5rem solid gray;
    background-color: red;
}
.menu figure{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
    align-content: baseline;
}
.menu img{
    border: 1rem solid black;
    border-radius: 100%;

    background-color: darkgray;
}
.menu p{
    font-family: var(--lobster-font);
    font-size: 2rem;
    color: black;

    text-align: center;
    padding: 1.5rem;
    background-color: gray;
}

/* CSS for Info */
#info{
    display: flex;
    width: 100%;

    border-top: 1rem groove gold;
    border-bottom: 1rem groove gold;
}
.info-section{
    color: white;
    background-color: black;

    padding: 1rem;

    max-width: 50%;
    width: 100%;
}

/* CSS for Radio Box */
#radio-box{
    background-image: url(../img/radio-on.png);
    background-size: 100% 100%;

    width: 20rem;
    height: 40rem;

    margin: 0 auto;
}
#radio-box p{
    max-width: 5rem;
    margin: 0 auto;
    text-align: center;

}
#radio-box:hover{
    background-image: var(--radio-change-state);
}

#radio-border{
    width: 100%;
    height: 5rem;
    background-color: black;

    border-top: 1rem groove gold;
    border-bottom: 1rem groove gold;
}

/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	body{
        background-color: maroon;
    }
	#radio-box{
        background-image: url(../img/radio-off.png);
    }
	:root{
        --radio-change-state: url(../img/radio-off.png);
    }
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */





