/* Credits */
/* Helped Recieved from W3schools for root and variables */
/*  - https://www.w3schools.com/css/css3_variables.asp */


:root{
    /* Interview Images and Changes */
    --interview-image1: url(../img/temp-img.png);
    --interview-image1-change: url(../img/temp-change-img.png);
    --interview-image2: url(../img/temp-img.png);
    --interview-image2-change: url(../img/temp-change-img.png);
    --interview-image3: url(../img/temp-img.png);
    --interview-image3-change: url(../img/temp-change-img.png);
}

/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}
*{
    scroll-behavior: smooth;
    scroll-padding: 25%;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
    background-color: white;
}
header{
    display: flex;
    justify-content: center;

    background-color: darkgray;
}
/* Navigation CSS */
#navigation-div{
}
nav{
    position: sticky;
    top: 0;

    margin: 0;

    height: 0;

    max-width: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav img{
    position: relative;
    max-width: 50%;
    margin: 0;
}
#nav-box{
    position: relative;
    background-color: slategray;
    border: solid 0.5rem black;
    
    margin: 0;
    display: flex;
    flex-direction: column;
}
#nav-box a{
    margin: 1rem auto;

    max-width: 80%;
    width: 100%;

    text-decoration: none;
    text-align: center;
    background-color: gainsboro;
    border: 0.5rem solid darkgray;
}
#nav-box a:hover{
    background-color: darkgray;
    border: 0.5rem solid gainsboro;
}

/* Parallax Image CSS */
.parallax-img{
    border-top: solid 2rem gray;
    border-bottom: solid 2rem gray;

    height: 100lvh;
    max-width: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#parallax-image-1{
    background: url(../img/montopoli-background.png) repeat fixed center;
    background-size: contain;
}
#parallax-image-2{
    background: url(../img/optimo-background.png) repeat fixed center;
    background-size: contain;
}

/* Intro section */
.info-box-section{
    background-color: gainsboro;
    border: solid 1rem gray;
    max-width: 80%;

    
    padding: 0.5rem;
}
#intro-section p{
    text-align: center;
    margin: 0;
}
#intro-section :first-child{
    margin-top: 3rem;
}
#intro-section :last-child{
    margin-bottom: 3rem;
}


/* Interviews Section */
#interview-section-title{
    font-size: 2rem;
    background-color: darkgray;
    border-bottom: solid gray 2rem;
    max-width: 100%;
    padding: 3rem;
    margin: 0;
    text-align: center;
}
#interview-section{
    background-color: slategray;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.interview-figure{

    margin: 6rem 0;

    max-width: 90%;
    width: 100%;
    padding: 1rem;
}
.interview-figure a{
    border: solid 1rem black;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#interview-1-link:hover{--interview-image1: var(--interview-image1-change);}
#interview-2-link:hover{--interview-image2: var(--interview-image2-change);}
#interview-3-link:hover{--interview-image3: var(--interview-image3-change);}
#interview-1-link .interview-image{background-image: var(--interview-image1);}
#interview-2-link .interview-image{background-image: var(--interview-image2);}
#interview-3-link .interview-image{background-image: var(--interview-image3);}

.interview-image{
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.interview-figure p{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: black;
    background-color: gray;
    border-top: 1rem solid black;
    padding: 1rem 0;
    margin: 0;
}

#container {

}

footer{
    background-color: lightgray;
    padding: 2rem 5rem;
}





/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	body{background-color: red;}
	.interview-figure{
        max-width:25rem;
    }
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	body{background-color: cyan;}
    #interview-section-title{
        font-size: 2rem;
    }
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	body{background-color: orange;}
	#interview-section{
        padding-top: 8rem;
        padding-bottom: 8rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
	
	
} /* closes 1024px+ */





